<mat-sidenav-container class="h-screen">
  <mat-sidenav #sidenav mode="side" opened class="w-64">
    <mat-toolbar color="primary">
      <h1 class="text-xl font-bold">Moon Admin</h1>
    </mat-toolbar>
    <mat-list>
      <mat-list-item [routerLink]="['/test']" routerLinkActive="bg-gray-100">
        <mat-icon matListItemIcon>folder_open</mat-icon>
        <span matListItemTitle>Test Directory View</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let item of navItems" [routerLink]="item.path" routerLinkActive="bg-gray-100">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.name }}</span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="flex flex-col">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="flex-1"></span>
      <button mat-button [routerLink]="['/auth/logout']">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-toolbar>
    <div class="flex-1 overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
