:host {
  display: block;
  height: 100vh;
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #f0f2f5;
}



.login-card {
  width: 400px;
  padding: 24px;

  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    .logo-image {
      width: 64px;
      height: 64px;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 24px;
  }

  .login-button {
    margin-top: 8px;
  }
}
