.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    
    .logo {
        float: left;
        margin: 0 24px;
        display: flex;
        align-items: center;

        .pic {
            height: 32px;
            margin-right: 12px;
        }

        .text {
            font-size: 14px;
            font-weight: 600;
            color: #ffffff;
        }
    }
    .menu {
        float: left;
        line-height: 64px;
    }
}

:deep(nz-layout)>* {
    flex: 1 1 auto;
}

nz-header {
    background: #001529;
    padding: 0;
    flex: 0 0 auto;
}

nz-content {
    margin: 0 16px;
    flex: 1;
    overflow: auto;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    flex:1;
    padding: 24px;
    min-height: 360px;
}

nz-footer {
    text-align: center;
    background: #f0f0f0;
}