<ion-content class="ion-padding">
  <div class="login-container">
    <!-- 图标 -->
    <div class="logo-container">
      <img src="../../assets/icon/favicon.svg" alt="Logo" class="logo">
    </div>
    
    <!-- 登录表单 -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">用户名</ion-label>
        <ion-input formControlName="username" type="text" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">密码</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>
      
      <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">
        登录
      </ion-button>
    </form>
  </div>
</ion-content>