<div class="organization-tree-node">
  <div class="node-content">
    <button 
      mat-icon-button 
      class="expand-button"
      (click)="toggleExpand()"
      *ngIf="organization.children && organization.children.length > 0"
    >
      <mat-icon>{{ isExpanded() ? 'expand_more' : 'chevron_right' }}</mat-icon>
    </button>
    <div class="node-info" [style.padding-left]="organization.level ? (organization.level * 24) + 'px' : '0px'">
      <span class="organization-name">{{ organization.organization_name }}</span>
      <span class="organization-code">({{ organization.organization_code }})</span>
      <span class="organization-flag">{{ organization.organization_flag }}</span>
    </div>
    <div class="node-actions">
      <button 
        mat-icon-button 
        color="primary" 
        (click)="onView()"
        [disabled]="loading"
        title="查看"
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button 
        mat-icon-button 
        color="accent" 
        (click)="onEdit()"
        [disabled]="loading"
        title="编辑"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button 
        mat-icon-button 
        color="warn" 
        (click)="onDelete()"
        [disabled]="loading"
        title="删除"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="node-children" *ngIf="isExpanded() && organization.children && organization.children.length > 0">
    <app-organization-tree-node 
      *ngFor="let child of organization.children"
      [organization]="child"
      [loading]="loading"
      (view)="view.emit($event)"
      (edit)="edit.emit($event)"
      (delete)="delete.emit($event)"
    ></app-organization-tree-node>
  </div>
</div>
